alias bat="batcat"
# recursive fuzzy search for file NAME starting in the current directory and open the selected file in vs code
alias fpv="fzf --preview 'batcat --style=numbers --color=always {}' --preview-window=up:50% --bind 'enter:execute(code {})'"
# pretty prints json from the clipboard content 
alias pjson='f() { xclip -selection clipboard -o | jq };f'
# Pretty-print a string from clipboard with the interpretation of backslash escapes
alias pprint='f() { echo -e "$(xclip -selection clipboard -o)" };f'
alias mdir='f() { mkdir -p $1 && cd "$_" };f'
alias cht='f() { curl -s cht.sh/$1 | less };f'
alias timer="timer.sh"
alias xo="xdg-open" 
alias cd="z"

# git
alias gituncommit="git reset HEAD~1"
alias gitlog="git log --color --graph --pretty=format:'%Cred%h%Creset-%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# jira zsh plugin
alias jb="jira branch"
alias jn="jira new"

# docker
alias dockerstopall='docker stop $(docker ps -a -q)'
alias dockerreno='docker update --restart=no $(docker ps -a -q)'

